/* CSS body */
body {
  background-color: #343a40;
  margin: 0; }

/* CSS para elementos */
h1.heading {
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 32px;
  letter-spacing: 3px; }

p.heading2 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 3px; }

h1.titlePages {
  color: #fbd10d;
  font-family: 'Segoe UI';
  text-align: center; }

h2 {
  color: #fbd10d;
  font-family: 'Segoe UI';
  align-self: flex-start; }

h3 {
  color: #fbd10d; }

p {
  color: #ffffff;
  font-family: 'Segoe UI'; }

a {
  color: #343a40;
  text-decoration: none;
  font-family: 'Segoe UI'; }

a:hover {
  text-decoration: none;
  color: #343a40; }

li {
  color: #ffffff;
  font-family: 'Segoe UI'; }

button {
  margin-bottom: 15px;
  letter-spacing: 2px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: transparent;
  border-color: #fbd10d;
  color: #ffffff; }

button:hover {
  background-color: #fbd10d; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px; }

/* Imagenes del index */
.imgIndex {
  width: 100%;
  height: auto; }

.imgCatDog {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  background-image: url("../assets/img/cat_dog.jpg");
  background-size: cover;
  background-position: center; }

/* CSS imagenes producto*/
.imgProduct {
  width: 250px;
  height: auto;
  border-radius: 5px; }

.carousel-inner.carouselContainer {
  width: 300px; }

/* CSS de menu */
.banner {
  position: relative;
  height: 100vh;
  width: 100%; }

.imgLogo {
  width: 80px;
  height: auto; }

.imgLogoHeader {
  position: absolute;
  padding-top: 10px; }

.logoContainer {
  display: flex;
  justify-content: center;
  text-align: center; }

.bannerTextContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; }

.imgCart {
  width: 35px;
  height: 35px;
  padding-right: 30px; }

.imgCart, ::after, ::before {
  box-sizing: unset; }

ul.listNav li {
  list-style-type: none;
  display: inline;
  padding: 5px; }

.ulFlex {
  display: flex;
  flex-direction: column; }

/*CSS menu hamburguesa*/
.lbl-menu {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  padding-left: 30px; }

.lbl-menu #spn1, #spn2, #spn3 {
  position: absolute;
  content: '';
  background: #fbd10d;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  transition: all 400ms ease; }

#spn2 {
  top: 11px; }

#spn3 {
  top: 22px; }

#btn-menu {
  display: none; }

#btn-menu:checked ~ .lbl-menu #spn1 {
  transform: rotate(140deg);
  top: 10px;
  background: #ffffff; }

#btn-menu:checked ~ .lbl-menu #spn2 {
  opacity: 0; }

#btn-menu:checked ~ .lbl-menu #spn3 {
  transform: rotate(-140deg);
  top: 10px;
  background: #ffffff; }

#btn-menu:checked ~ .containerMenu {
  opacity: 1;
  visibility: visible; }

/*CSS nav lateral*/
.containerMenu {
  position: absolute;
  background: #fbd10d;
  width: 250px;
  height: 100hv;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden; }

.contMenu {
  width: 100%;
  max-width: 250px;
  height: 100vh;
  transition: all 500ms ease; }

.contMenu nav {
  transform: translateY(15%); }

.contMenu nav a {
  display: block;
  padding: 20px; }

.underlined::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 400ms; }

.underlined:hover::after {
  width: 60%;
  transition: width 400ms; }

/* CSS footer*/
.imgIcons {
  width: 20px;
  height: auto;
  padding-right: 10px; }

a.linkFooter {
  color: #ffffff; }

.footerFlex {
  display: flex;
  flex-direction: row;
  height: 300px;
  padding-top: 80px; }

.footerFlex__List {
  padding: 0;
  list-style-type: none; }

.footerFlex__List-horizontal {
  display: flex;
  width: 100%;
  padding: 0;
  list-style-type: none; }

.footerFlex__List-horizontal-middle {
  justify-content: center;
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 0; }

.footerFlex__List-horizontal-middle li {
  margin-left: 10px; }

.footerFlex__Section {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding-left: 80px; }

.footerFlex__Section-middle {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 80px;
  justify-content: center;
  align-items: center; }

/* CSS secciones Index*/
.subtitlesIndex {
  padding: 10px 20px 30px 40px; }

.animalSection {
  display: flex;
  flex-direction: column;
  align-items: center; }

.animalSection__Item {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin-top: 80px; }

.animalSection__Item-Text {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: center;
  align-items: center;
  padding: 0 50px; }

.animalSection__Item-Img {
  width: 45%;
  overflow: hidden; }

.animalSection__Item-even {
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin-top: 80px; }

.petContainer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.scale {
  transition: all 0.75s; }

.scale:hover {
  transform: scale(1.2, 1.2); }

.scale.even:hover {
  transform: scale(1.1, 1.1); }

/* grid productos*/
.gridContainerProducts {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px; }

/* Mobile First Index */
/*vista desktop*/
@media only screen and (min-width: 1024px) {
  .gridContainerProducts {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px; } }

/*vista tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gridContainerProducts {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px; } }

/*vista mobile*/
@media only screen and (max-width: 767px) {
  .gridContainerProducts {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px; } }

/*CSS FAQs menu acordeon*/
.wrapper {
  max-width: 600px;
  padding: 0 20px; }

.wrapper .parent-tab {
  margin-bottom: 8px;
  border-radius: 3px; }

.wrapper .parent-tab label {
  background-color: #fbd10d;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative; }

.wrapper label span {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI'; }

.wrapper label .icon {
  position: relative;
  height: 30px;
  width: 30px;
  color: #fbd10d;
  display: block;
  background-color: #343a40;
  border-radius: 50%; }

.parent-tab input:checked ~ label .icon i:before {
  content: '\f068'; }

.wrapper label .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.wrapper .parent-tab .content {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.6s ease; }

.parent-tab input:checked ~ .content {
  max-height: 100vh; }

.wrapper .parent-tab .content p {
  padding: 15px 20px; }

.wrapper input {
  display: none; }

/*CSS form contacto*/
form {
  width: 50%;
  margin: auto; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

input.checkbox {
  width: 15px; }
